version: "3.9"

services:
  api:
    build:
      context: ./api-golang
    container_name: api-golang
    ports:
      - "8080:8080"
    volumes:
      - ./api-golang/dev.db:/app/dev.db
    restart: unless-stopped

  frontend:
    build:
      context: ./client-react
    container_name: frontend-react
    ports:
      - "3000:80"
    depends_on:
      - api