services:
  api-golang:
    build: ./api-golang
    ports:
      - "8080:8080"
    volumes:
      - sqlite_data:/database
    environment:
      - DB_PATH=/database/dev.db
    # Pas besoin de créer le fichier, Go le créera dans ce volume

  api-node:
    build: ./api-node
    ports:
      - "3000:3000"
    volumes:
      - ./api-node:/app
      - /app/node_modules
      - sqlite_data:/database
    environment:
      - PORT=3000
      - DB_PATH=/database/dev.db
    depends_on:
      - api-golang

  client-react:
    build: ./client-react
    ports:
      - "5173:5173"
    volumes:
      - ./client-react:/app
      - /app/node_modules
    depends_on:
      - api-node

# Cette partie est l'astuce pour ne plus faire de "touch dev.db" manuellement
volumes:
  sqlite_data: