name : Hello world

on : 
  push : 
    branches :
      - "team3_chat"
  workflow_dispatch:
jobs:
  say-hello-inline-bash:
    runs-on: ubuntu-24.04
    steps:
      - run : echo "Hello from an inline bash script in a GitHub Action Workflow!"
